{{"home_multicolumn.css" | asset_url | stylesheet_tag}}
<div class="demo">
    thanh
    <div>{{section.settings.title}}</div>
   {% for block in section.blocks %}
     <img src="{{block.settings.chon_anh | img_url: 'medium'}}" />
     <div>{{block.settings.content}}</div>
   {% endfor %}
</div>

{% schema %}
    {
        "name":"home_multicolumn",
        "tag":"section",
        "settings":[
            {
                "type":"text",
                "id":"title",
                "default":"day la ban demo",
                "label":"title"
            },
            {
                "type":"range",
                "id":"row_num",
                "default":2,
                "min":2,
                "max":4,
                "label":"Number of Column"
            }
        ],
        "blocks":[
           {
            "type":"image",
            "name":"image block",
            "settings":[
                {
                    "type":"image_picker",
                    "id":"chon_anh",
                    "label":"chonanh"
                },
                {
                    "type":"text",
                    "id":"content",
                    "default":"The leather is sourced from environmentally friendly tanneries in Italy, France, and Turkey, where Rure is based and everything is assembled by hand.",
                    "label":"text content"
                }
            ]
           }
        ],
        "presets":[
            {
                "name":"home_multicolumn"
             
            }
        ]
    }
{% endschema %}